
<!-- スタイルシート -->
<%= stylesheet_link_tag 'treco_diet_method', :media => "all" %>

<p id="return-btn"><a id="return-btn-link" href=""onclick="window.history.back(); return false;">戻る</a></p>
<div id="all_container">
<h2 id="diet_title">ダイエット(脂肪燃焼)をする</h2>

<h3>体を引き締めるためのトレーニング目安</h3>
<p>15〜20回の反復運動で限界と感じる重さに設定し、<br>
各種目で2〜3セットのトレーニングを行ってみましょう</p>
<h2>シーテッドローイング</h2>
<p><%= image_tag 'diet_button_seatedrow.jpg',class: 'machine_img' %></p>
<h3>やり方</h3>
<p>1. ピンを差して重りを調節します。</p>
<p>2. 胸がパットの前にくるように、シートの下にあるクリップでシートの位置を調節します。</p>
<p>3. 両手を伸ばしグリップが握れるようにピンを引っ張り、胸パッドの位置を調節します。</p>
<p>4. グリップを握って肘を後ろに引きつけるようにアームを動かします。</p>
<p>補足：手のひらを下に向けるようにして動かすと肩甲骨の周りの筋肉が刺激されやすくなります。</p>
<p>補足：手のひらを内側に向けるようにして動かすと、背中の広範囲の筋肉が刺激されやすくなります。</p>

<iframe id="traning-movie" width="560" height="315" src="https://www.youtube.com/embed/vJqkSZpZoGg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<nav id="nav-container">
<ul id="global-nav">
<li class="nav-item"><%= image_tag 'nav_home.png',class: 'nav-item-icon' %><br><%= link_to "ホーム", treco_main_treco_main_select_path,class: 'nav-item-link'  %></li>

<li class="nav-item"><%= image_tag 'nav_calendar.png',class: 'nav-item-icon' %><br><%= link_to "記録一覧", treco_main_treco_record_list_path,class: 'nav-item-link'  %></li>

<li class="nav-item"><%= image_tag 'nav_record.png',class: 'nav-item-icon' %><br><%= link_to "記録する", treco_main_treco_record_path,class: 'nav-item-link' %></li>

<li class="nav-item"><%= image_tag 'nav_others.png',class: 'nav-item-icon' %><br><%= link_to "その他", treco_main_treco_others_path,class: 'nav-item-link' %></li>
</ul>
</nav>