
<!-- スタイルシート -->
<%= stylesheet_link_tag 'treco_diet_method', :media => "all" %>

<p id="return-btn"><a id="return-btn-link" href=""onclick="window.history.back(); return false;">戻る</a></p>
<div id="all_container">
<h2 id="diet_title">ダイエット(脂肪燃焼)をする</h2>

<h3>体を引き締めるためのトレーニング目安</h3>
<p>15〜20回の反復運動で限界と感じる重さに設定し、<br>
各種目で2〜3セットのトレーニングを行ってみましょう</p>
<h2>チェストプレス</h2>
<p><%= image_tag 'diet_button_chestpress.jpg',class: 'machine_img' %></p>
<h3>やり方</h3>
<p>1. 胸のトップと手の高さが同じになるようにイスを調節します。</p>
<p>2. ピンで重りを調節します。</p>
<p>3. 胸を張った状態でグリップを握ります。</p>
<p>4. 肘を伸ばしきらないようバーを体の前に押し出します。</p>
<p>5. 重りが下につく直前までゆっくり戻します。</p>

<iframe id="traning-movie" width="560" height="315" src="https://www.youtube.com/embed/zF5-eZg9Y4s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<nav id="nav-container">
<ul id="global-nav">
<li class="nav-item"><%= image_tag 'nav_home.png',class: 'nav-item-icon' %><br><%= link_to "ホーム", treco_main_treco_main_select_path,class: 'nav-item-link'  %></li>

<li class="nav-item"><%= image_tag 'nav_calendar.png',class: 'nav-item-icon' %><br><%= link_to "記録一覧", treco_main_treco_record_list_path,class: 'nav-item-link'  %></li>

<li class="nav-item"><%= image_tag 'nav_record.png',class: 'nav-item-icon' %><br><%= link_to "記録する", treco_main_treco_record_path,class: 'nav-item-link' %></li>

<li class="nav-item"><%= image_tag 'nav_others.png',class: 'nav-item-icon' %><br><%= link_to "その他", treco_main_treco_others_path,class: 'nav-item-link' %></li>
</ul>
</nav>