
<!-- スタイルシート -->
<%= stylesheet_link_tag 'treco_diet_method', :media => "all" %>

<p id="return-btn"><a id="return-btn-link" href=""onclick="window.history.back(); return false;">戻る</a></p>
<div id="all_container">
<h2 id="diet_title">バルクアップ(筋肉増量)をする</h2>

<h3>筋肉量を増やすためのトレーニング目安</h3>
<p>まずは8〜12回の反復運動で限界と感じる重さに設定し、<br>
各種目で2〜3セットのトレーニングを行ってみましょう</p>
<h2>フロント ラットプルダウン</h2>
<p><%= image_tag 'diet_button_latpull',class: 'machine_img' %></p>
<h3>やり方</h3>
<p>1. 座った際に膝パッドが太ももに当たる程度に調整する</p>
<p>2. 肩幅よりも広めの手幅でバーを持つ</p>
<p>3. 万歳しバーを上に上げたまま座る</p>
<p>4. 胸を張って、ゆっくりと胸にバーを引きつけながら引き下ろす</p>
<p>5. ゆっくり上げて戻す</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/u2cqBa92OIA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<nav id="nav-container">
<ul id="global-nav">
<li class="nav-item"><%= image_tag 'nav_home.png',class: 'nav-item-icon' %><br><%= link_to "ホーム", treco_main_treco_main_select_path,class: 'nav-item-link'  %></li>

<li class="nav-item"><%= image_tag 'nav_calendar.png',class: 'nav-item-icon' %><br><%= link_to "記録一覧", treco_main_treco_record_list_path,class: 'nav-item-link'  %></li>

<li class="nav-item"><%= image_tag 'nav_record.png',class: 'nav-item-icon' %><br><%= link_to "記録する", treco_main_treco_record_path,class: 'nav-item-link' %></li>

<li class="nav-item"><%= image_tag 'nav_others.png',class: 'nav-item-icon' %><br><%= link_to "その他", treco_main_treco_others_path,class: 'nav-item-link' %></li>
</ul>
</nav>