
<!-- スタイルシート -->
<%= stylesheet_link_tag 'treco_diet_method', :media => "all" %>

<p id="return-btn"><a id="return-btn-link" href=""onclick="window.history.back(); return false;">戻る</a></p>
<div id="all_container">
<h2 id="diet_title">バルクアップ(筋肉増量)をする</h2>

<h3>筋肉量を増やすためのトレーニング目安</h3>
<p>まずは8〜12回の反復運動で限界と感じる重さに設定し、<br>
各種目で2〜3セットのトレーニングを行ってみましょう</p>
<h2>インクラインチェストプレス</h2>
<p><%= image_tag 'diet_button_incline_chestpress',class: 'machine_img' %></p>
<h3>やり方</h3>
<p>1. グリップが胸の真ん中にくるよようにイスの高さを調節します。</p>
<p>2. 重りのプレートをバー横の棒にはめ込む。</p>
<p>3. 胸を張った状態でグリップを握ります。</p>
<p>4. 肘を伸ばしきらないようバーを体の前に押し出します。</p>
<p>5. バーがマシン本体につく直前までゆっくり戻します。</p>

<iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Fanytimefitness.shimokitazawa%2Fvideos%2F434230054174945%2F&show_text=false&width=476&t=0" width="476" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
</div>

<nav id="nav-container">
<ul id="global-nav">
<li class="nav-item"><%= image_tag 'nav_home.png',class: 'nav-item-icon' %><br><%= link_to "ホーム", treco_main_treco_main_select_path,class: 'nav-item-link'  %></li>

<li class="nav-item"><%= image_tag 'nav_calendar.png',class: 'nav-item-icon' %><br><%= link_to "記録一覧", treco_main_treco_record_list_path,class: 'nav-item-link'  %></li>

<li class="nav-item"><%= image_tag 'nav_record.png',class: 'nav-item-icon' %><br><%= link_to "記録する", treco_main_treco_record_path,class: 'nav-item-link' %></li>

<li class="nav-item"><%= image_tag 'nav_others.png',class: 'nav-item-icon' %><br><%= link_to "その他", treco_main_treco_others_path,class: 'nav-item-link' %></li>
</ul>
</nav>