<p style="color: green"><%= notice %></p>

<%= render @user_management %>

<div>
  <%= link_to "Edit this user management", edit_user_management_path(@user_management) %> |
  <%= link_to "Back to user managements", user_managements_path %>

  <%= button_to "Destroy this user management", @user_management, method: :delete %>
</div>
